<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.pasajito">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pasajito">
        <activity android:name=".ListaTaxis"></activity>
        <activity android:name=".VincularCuenta" />
        <activity android:name=".PuntoPasajito" />
        <activity android:name=".Taxi" />
        <activity android:name=".MenuPrincipal" />
        <activity android:name=".Trufi" />
        <activity android:name=".RegistroDeUsuarios" />
        <activity android:name=".Rutas" />
        <activity android:name=".Pagar" />
        <activity android:name=".Minibus" />
        <activity android:name=".MetodoDePago" />
        <activity android:name=".NewPassword" />
        <activity android:name=".Micro" />
        <activity
            android:name=".InicioDeSesion"
            android:label="@string/title_activity_inicio_de_sesion"
            android:theme="@style/Theme.Pasajito.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAf6TKzWCBXAWd2m7IglS6cRiaeTGHmblc" />
    </application>

</manifest>